.form {
    display: flex;
    height: 28px;
    width: 250px;
}

.text {
    width: 200px;
    margin-right: 4px;
    border-radius: 5px;
    border: none;
}

.button {
    border: none;
    border-radius: 5px;
    width: 40px;
    background-color:#357EF0;
    color: white
}

.button:hover {
    background-color:#37B6FA;
}